# Ignore all files in a directory
build/

# Ignore files with a specific extension
*.log

# Ignore multiple patterns
coverage/
dist/
node_modules/
.backup/
.nuxt/
.modules/
.idea/
.vscode/
.output/
public/