@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
    font-family: "Silkscreen";
    src: url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
    font-weight: 400;
    font-style: normal;
}

.font-silk {
    font-family: "Silkscreen", sans-serif;
}